.container {
    display:flex;
    flex-direction: row;
    margin-left: 15%;
    align-items: center;
    gap: 350px;
    margin-top: -50px;
    align-items: flex-start;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.progressbar {
    width: 80px;
    height: 80px;
    margin-top: -20px;
}

.resultitem {
    font-size: 21px;
    font-weight: 500;
    border: 3px solid gray;
    background-color: gray;
    margin-top: 10px;
}
