# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE and editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


# Windows
Thumbs.db


# Log files
*.log

# Python distributions
*.egg
*.egg-info/
dist/
build/
*.pyc

# Environment variables
.env

#flask
instance/quiz_results.db