.link {
    text-decoration: none;
}

.container {
    position: relative;
    border-radius: 15px;
    margin-left: 15px;
    background-image: url("../../../Assets/CapitalsMenuBtnBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 115px;
    width: 400px;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.1);
}

.title {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 2px 10px;
   
}